h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.chart-title {
	text-align: center;
	font-family: "Arial", sans-serif;
	color: #666;
	font-weight: bold;
	font-size: 1.4rem;
	line-height: 1.2;
}

.chart-container {
	margin-bottom: 1.5rem;
}

.switch {
	margin-bottom: 0.3rem;
}

.input-group {
	margin-bottom: 0.2rem;
}

.simulate-button {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.fieldset {
	margin: 0.6rem 0;
    padding: 0.1rem 0.7rem;
}
.fieldset legend {
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
}

body {
	line-height: 1.0;
}

label {
	font-size: 100%;
}

select {
	margin-bottom: 0.3rem;
}

#content {
	padding: 20px 0;
}

.accordion-title {
	font-size: 1.0rem;
	font-weight: bold;
}

ul.faq ul {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

/**************** ATTACK RESULTS # + SLIDER ****************/

.attack_results_number::-webkit-inner-spin-button,
.attack_results_number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.attack_results_number {
	text-align: center;
}


/************************* NAV BAR *********************/
.top-bar {
    line-height: 45px;
    position: relative;
    background: #333333;
    color: white;
    padding: 0;
    margin-top: 0;
    padding-top: 0;
	font-size: 0.9rem;
    font-weight: bold;
}

.dropdown.menu a {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.top-bar ul , .top-bar ul li a {
    background-color: #333333;
	color: white;
	line-height: inherit;
}

.menu > .divider {
    border-right: solid 1px #4e4e4e;
}

.top-bar a:hover, .top-bar a:focus
{
    background-color: #222222;
}

/**************** STEPPER GROUP *********************/
.stepper-group input[type=number]::-webkit-inner-spin-button,
.stepper-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.stepper-group .stepper-number {
	width: 3.5rem;
	min-width: 3.5rem;
	height: 2.0rem;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

.stepper-group .stepper-button, .stepper-group .stepper-button-set {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.5rem;
	padding-left: 0;
	padding-right: 0;
	width: 2.2rem;
	min-width: 2.2rem;
	height: 2.0rem;
	border-radius: 0;
}

.stepper-group .stepper-button-set {
	width: 1.4rem;
	min-width: 1.4rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}
