h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.switch {
	margin-bottom: 0.3rem;
}

.input-group {
	margin-bottom: 0.2rem;
}
.input-group-field {
}

.slider {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.simulate-button {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.fieldset {
	margin: 0.6rem 0;
    padding: 0.1rem 0.7rem;
}
.fieldset legend {
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
}

body {
	line-height: 1.0;
}

label {
	font-size: 100%;
}





.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/*
.input-number-group .input-group-button {
  line-height: calc(80px/2 - 5px);
}
*/

.input-number-group .input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid #cacaca;
  height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
}

.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  display: inline-block;
  width: 40px;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
}

.input-number-group .input-number-decrement {
  margin-right: 0.3rem;
}

.input-number-group .input-number-increment {
  margin-left: 0.3rem;
}

