h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.switch {
	margin-bottom: 0.3rem;
}

.input-group {
	margin-bottom: 0.2rem;
}
.input-group-field {
}

.slider {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.simulate-button {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.fieldset {
	margin: 0.6rem 0;
    padding: 0.1rem 0.7rem;
}
.fieldset legend {
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
}

body {
	line-height: 1.0;
}

label {
	font-size: 100%;
}
